button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
span {
    color: gold;
    font-weight: bold;
    margin-left: 10%;
    font-size: 4em;

}
.stop {
    background-color: #af4c4c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.reset {
    background-color: #4c77af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.output {
    background-color: aliceblue;
}
.output {
    width: 3em;
    height: 3em;
    background-color: aliceblue;
}